<!DOCTYPE html>
<html>
<head>
<style>
    th {
        background-color: rgb(187, 188, 190);
    }
    table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
    }
    
    table {
        border-collapse: collapse;
        width: 50%;
    }
    
    th, td {
        padding: 15px;
    }
</style>
</head>
<body>
    

<h2> Greetings! </h2>
<br>
<br>
<h3>{{ text }}</h3>

<table>
    <thead>
        <tr>
            <th colspan="3"> Your application's rank and score </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ rank }}</td>
            <td>{{ app_info.url }}</td>
            <td>{{ app_info.score }}</td>
        </tr>
    </tbody>
</table>

<br>
<br>

<table>
    <thead>
        <tr>
            <th colspan="3"> Current leaderboard </th>
        </tr>
    </thead>
    <tbody>
        {% for app in current_leaderboard %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ app.url }}</td>
            <td>{{ app.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p> For more information you can access https://webscore.eea.europa.eu/. </p>


</body>
</html> 