{% extends "base.html" %}

{% block title %}Quality metrics help &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <p>EEA websites are audited daily and receive a score between 0 and 100 for each of the following metrics:
    </p>
    <ul>
        <li>Performance - evaluated using <a href="https://developers.google.com/web/tools/lighthouse" target="_blank">Lighthouse</a> in Chrome Developer Tools</li>
        <li>Progressive Web App - evaluated using <a href="https://developers.google.com/web/tools/lighthouse" target="_blank">Lighthouse</a> in Chrome Developer Tools</li>
        <li>Accessibility - evaluated using <a href="https://developers.google.com/web/tools/lighthouse" target="_blank">Lighthouse</a> in Chrome Developer Tools (Audits)</li>
        <li>Best Practice - evaluated using evaluated using <a href="https://developers.google.com/web/tools/lighthouse" target="_blank">Lighthouse</a> in Chrome Developer Tools (Audits)</li>
        <li>SEO Score - evaluated using evaluated using <a href="https://developers.google.com/web/tools/lighthouse" target="_blank">Lighthouse</a> in Chrome Developer Tools (Audits)</li>
        <li>Links Integrity -  the amount of broken links in websites is evaluated using <a href="https://github.com/linkchecker/linkchecker" target="_blank">linkchecker</a>, which is run locally in a Docker container</li>
        <li>Encryption (TLS) - certificates validity and configuration are evaluated using the SSL test tool at <a href="https://www.ssllabs.com/ssltest/" target="_blank">https://www.ssllabs.com/ssltest/</a></li>
        <li>SecurityHeaders.com - Checks for missing HTTP security headers in website responses using the tool at <a href="https://securityheaders.com/" target="_blank">https://securityheaders.com/</a>. This is somewhat outdated and mostly superseded by the next metric.</li>
        <li>Securityheaders(mozilla) - also checks for missing HTTP security headers in website responses, but uses the tool at <a href="https://observatory.mozilla.org/" target="_blank">https://observatory.mozilla.org/</a></li>
        <li>Uptime (30 days) - this metrics gives 100 if the site is never found down/unresponsive within the checks performed under the last 30d period.</li>
        <li>Server Errors per visit - aggregation of the number of server-side errors/exception received in <a href="https://sentry.eea.europa.eu/" target="_blank">Sentry</a> from the website, divided by the total number of website visits as logged by Matomo (https://matomo.org/)</li>
        <li>JS Errors per visit - aggregation of the number of JS errors/exceptions received in <a href="https://sentry.eea.europa.eu/" target="_blank">Sentry</a>, divided by the number of website visits  as logged by <a href="https://matomo.org/" target="_blank">Matomo</a>.</li>
        <li>Test coverage - code quality metric that is computed based on the unit test coverage in <a href="https://ci.eionet.europa.eu" target="_blank">Jenkins</a>.</li>
        <li>Bugs - code quality metric that is computed based on the results of tests ran in <a href="https://ci.eionet.europa.eu" target="_blank">Jenkins</a> using the SonarQube plugin.</li>
        <li>Vulnerabilities - code quality metric that is computed based on the results of tests ran in <a href="https://ci.eionet.europa.eu" target="_blank">Jenkins</a> using the SonarQube plugin.</li>
        <li>Code smells - code quality metric is computed based on the results of tests ran in <a href="https://ci.eionet.europa.eu" target="_blank">Jenkins</a> using the SonarQube plugin.</li>
        <li>Duplication score - code quality metric is computed based on the results of tests ran in <a href="https://ci.eionet.europa.eu" target="_blank">Jenkins</a> using the SonarQube plugin.</li>
        <li>Privacy score - evaluated using <a href="https://privacyscore.org/" target="_blank">https://privacyscore.org/</a></li>
        <li>webbkoll.dataskydd.net - evaluated using <a href="webbkoll.dataskydd.net" target="_blank">Webbkoll</a>, an online tool that simulates a normal browser visit and checks for potential privacy problems.</li>
    </ul>
    <p>For more info please visit <a href="https://taskman.eionet.europa.eu/projects/netpub/wiki/Quality_metrics" target="_blank">the quality metrics wiki page</a>.</p>
</div>
{% endblock %}