{% extends "base.html" %}
{% from "./macros.html" import "metricDocs", "formatTrend", "formatSparkline" %}

{% block head %}
{{ super() }}
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<style>
  .sparkline canvas{
    vertical-align: text-bottom;
  }
  .sparkline {
    background: transparent;
    height: 100px;
    display: inline;
  }
  #spinner-sparklines {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
<script>
function getNumber(text) {
  try {
    return +(text.match(/\d+/) || [0])[0];
  } catch (error) {
    return 0;
  }
}

function sortNumbers(a, b) {
  return getNumber(a) - getNumber(b)
}
</script>
<div class="container-fluid">

  <p>WebScore is a report of quality metrics for websites, larger values are
  better. The scores are calculated daily using various scanning and monitoring
  tools. Click on a website for details.</p>

  <label for="time-selection">Display metrics evolution:</label>
  <select name="time-selection" id="time-selection">
    <option value="7">7 days</option>
    <option value="30" selected="selected">30 days</option>
    <option value="0">Do not display</option>
  </select>
  <div class="spinner-border spinner-border-sm" role="status" id="spinner-sparklines">
    <span class="sr-only">Loading...</span>
  </div>

  <table
    class="table table-striped table-sm"
    data-toggle="table"
    data-sort-name="total-score"
    data-sort-order="desc">
    <thead class="thead-dark">
      <tr>
        <th scope="col" data-field="rank">Rank</th>
        <th scope="col" data-field="url">Website</th>
        <th scope="col" class="text-center"
          data-field="total-score"
          data-sortable="true"
          data-sort-name="_total-score_data"
          data-sorter="sortNumbers">Total score</th>
        <th scope="col" class="text-center"
          data-field="median-score"
          data-sortable="true"
          data-sort-name="_median-score_data"
          data-sorter="sortNumbers">Median score</th>
        {% for metric in importantMetrics %}
          <th
            scope="col"
            class="text-center"
            data-field="metric-{{ metric.name }}"
            data-sortable="true"
            data-sort-name="_metric-{{ metric.name }}_data"
            data-sorter="sortNumbers">
              {{ metric.name }}
              {{ metricDocs(metric) }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for row in data %}
      <tr>
        <th scope="row">
          {{ loop.index }}
        </th>
        <td scope="row">
          {{ urlSlug(row.url) }}
          <br/>
          <a href="{{ row.url }}"  class="external" target="_blank">View site</a>
             |
          <a href="/site/{{ urlSlug(row.url) }}">View report</a>
        </td>
        <td class="text-center" data-score="{{ row.score }}">
          <a href="/site/{{ urlSlug(row.url) }}">{{ row.score }}</a>
        </td>
        <td class="text-center">
          {{ row.median }}
        </td>
        {% for metric in importantMetrics %}
          {% set result = row.metrics[metric.name] %}
          {% set timeSeries = row.metrics[metric.name].timeSeries %}
          <td class="{{ metricStyle(metric, result.value) }} text-center">
            {{ formatMetric(result.value) }}
            <br/>
            <span class="sparkline" data-sparkline="{{ timeSeries }}" data-toggle="tooltip" data-placement="right">
            </span>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}

{% block finalscripts %}
{{ super() }}

<script src="/static/js/sparkline.js"></script>
<script>
// Closure to allow parameters to document.ready functions
function drawSparklines(numberOfDays) {
  return function() {
    var sparklineSpans = document.getElementsByClassName("sparkline");

    for (var i = 0; i < sparklineSpans.length; i++) {
      var attr = sparklineSpans[i].getAttribute('data-sparkline');
      var valuesList;

      if (numberOfDays === 0) {
        sparklineSpans[i].style.display = 'none';
        continue;
      } else {
        sparklineSpans[i].style.display = 'inline';
      }

      if (attr === "") {
        // do not display empty sparklines
        continue;
      } else {
        valuesList = attr.split(',').map(item => {
          if (! item) return 0;
          return parseInt(item);
        });
      }
      var sparkline = new Sparkline(sparklineSpans[i], {
          lineColor: "#666",
          width: 100,
          dotRadius: 3,
          // using 0 breaks check in sparkline.js
          minValue: 1,
          maxValue: 100
        }
      );
      // valuesList has the most recent date as its last element
      var begin = valuesList.length - numberOfDays;
      if (begin < 0) {
        begin = 0;
      }
      valuesList = valuesList.slice(begin, valuesList.length);
      sparkline.draw(valuesList);
    }
  }
}

// On document ready, display sparklines for selected time period
$(document).ready(drawSparklines(parseInt($('#time-selection').val())));

$(function(){ /* DOM ready */
  $('#time-selection').change(function(){
    // Show spinner
    spinner = document.getElementById("spinner-sparklines");
    spinner.style.display = "inline-block";

    // Get number of selected days
    days = parseInt($(this).val());

    // Hide spinner on drawSparklines() completion
    setTimeout(function() {
      drawSparklines(days)();
      spinner = document.getElementById("spinner-sparklines");
      spinner.style.display = "none";
    });
  });
});

</script>
{% endblock %}