{% extends "base.html" %}
{% from "./macros.html" import "metricDocs", "formatTrend" %}

{% block title %}{{ urlSlug(data.url) }} &ndash; {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<style>
h3 { margin-top: 1em }
</style>
{% endblock %}

{% block content %}
<div class="container">

  <h3>Report for <a href="{{ data.url }}">{{ urlSlug(data.url) }}</a></h3>

  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Metric</th>
        <th scope="col" class="text-center">Score</th>
      </tr>
    </thead>
    <tbody>
    {% for metric in metrics %}
      <tr>
        <th scope="row">
          {{ metric.name }}
          {{ metricDocs(metric) }}
        </th>
        {% set result = data.metrics[metric.name] %}
        <td class="{{ metricStyle(metric, result.value) }} text-center">
          {% set report = reportUrl(metric, urlSlug(data.url)) %}
          {% if report %}
            <a href="{{ report }}">
              {{ formatMetric(result.value) }}
              {{ formatTrend(result) }}
            </a>
          {% else %}
            {{ formatMetric(result.value) }}
            {{ formatTrend(result) }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
