{% extends "base.html" %}

{% block title %}{{ urlSlug(data.url) }} &ndash; {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<style>
h3 { margin-top: 1em }
</style>
{% endblock %}

{% block content %}
<div class="container">

  <h3>Report for <a href="{{ data.url }}">{{ urlSlug(data.url) }}</a></h3>

  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Metric</th>
        <th scope="col" class="text-center">Score</th>
      </tr>
    </thead>
    <tbody>
    {% for metric in metrics %}
      <tr>
        <th scope="row">
          {{ metric.name }}
        </th>
        {% set value = data.metrics[metric.name] %}
        <td class="{{ metricStyle(metric, value) }} text-center">
          {% set report = reportUrl(metric) %}
          {% if report %}
            <a href="/site/{{ urlSlug(data.url) }}/reports/{{ report }}">
              {{ value }}
            </a>
          {% else %}
            {{ value }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
