{% extends "base.html" %}

{% block title %}{{ data.url }} &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ data.url }}</h1>

  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Metric</th>
        <th scope="col" class="text-center">Score</th>
      </tr>
    </thead>
    <tbody>
    {% for metric in metrics %}
      <tr>
        <th scope="row">
          {{ metric.name }}
        </th>
        <td class="{{ metricStyle(metric, data[metric.name]) }} text-center">
          {{ data[metric.name] }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
